@page
@model Traslado_Seguro.Pages.Clientes.IndexModel
@{
    ViewData["Title"] = "Index Clientes";
}
<h1>Index Clientes</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Clientes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Clientes[0].Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clientes)
        {
                        <tr>
                            <td>
                    @Html.DisplayFor(modelItem=>item.Name)
                            </td>
                            <td>
                    @Html.DisplayFor(modelItem=>item.Description)
                            </td>
                            <td>
                             <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                             <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                            </td>
                            </tr>
        }
    </tbody>
    </table>
